*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(https://img.freepik.com/free-photo/sepia-plasterboard-texture_95678-405.jpg);
}

header{
    max-width: 600px;
    margin: auto;
    padding: 25px 0px;
}

header .cx-img{
    width: 140px;
    height: 140px;
    border: solid 1px #000000;
    border-radius: 100%;
    margin: 0px auto 10px;
}

header .cx-img img{
    width: 140px;
    height: 140px;
    padding: 5px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

header .name h1{
    text-align: center;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.7);
}

.links{
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.links .cx-links{
    display: ;
}

.links .cx-links ul li{
    list-style: none;
    text-align: center;
}

.links .cx-links ul li a{
    text-decoration: none;
    color: black;

    text-align: center;
    padding: 10px 0px;
    margin: 10px 0px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: block;
}

.links .cx-links ul li a:hover{
    border: solid 1px rgba(0, 0, 0, 0.5);
}